<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.star4j.cloudshopper.mapper.ShopAdminMapper">
  <resultMap id="BaseResultMap" type="org.star4j.cloudshopper.entity.ShopAdmin">
    <constructor>
        <arg column="admin_id" javaType="java.lang.Long" jdbcType="BIGINT" />
        <arg column="admin_name" javaType="java.lang.String" jdbcType="VARCHAR" />
        <arg column="admin_pass" javaType="java.lang.String" jdbcType="CHAR" />
        <arg column="admin_email" javaType="java.lang.String" jdbcType="VARCHAR" />
        <arg column="login_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
        <arg column="login_ip" javaType="java.lang.String" jdbcType="CHAR" />
        <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>

    <select id="selectAllWithPage" parameterType="org.star4j.cloudshopper.entity.ShopAdmin" resultMap="BaseResultMap">
        select
        admin_id, admin_name, admin_pass, admin_email, login_time, login_ip, create_time
        from shop_admin
        <!--<where>-->
            <!--<if test="#{adminId} != 0">-->
                <!--admin_id = #{adminId}-->
            <!--</if>-->
        <!--</where>-->
    </select>

  <insert id="insert" parameterType="org.star4j.cloudshopper.entity.ShopAdmin">
    insert into shop_admin (admin_id, admin_name, admin_pass,
      admin_email, login_time, login_ip, 
      create_time)
    values (#{adminId,jdbcType=BIGINT}, #{adminName,jdbcType=VARCHAR}, #{adminPass,jdbcType=CHAR},
      #{adminEmail,jdbcType=VARCHAR}, #{loginTime,jdbcType=TIMESTAMP}, #{loginIp,jdbcType=VARCHAR},
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="org.star4j.cloudshopper.entity.ShopAdmin">
    insert into shop_admin
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="adminId != null">
        admin_id,
      </if>
      <if test="adminName != null">
        admin_name,
      </if>
      <if test="adminPass != null">
        admin_pass,
      </if>
      <if test="adminEmail != null">
        admin_email,
      </if>
      <if test="loginTime != null">
        login_time,
      </if>
      <if test="loginIp != null">
        login_ip,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="adminId != null">
        #{adminId,jdbcType=BIGINT},
      </if>
      <if test="adminName != null">
        #{adminName,jdbcType=VARCHAR},
      </if>
      <if test="adminPass != null">
        #{adminPass,jdbcType=CHAR},
      </if>
      <if test="adminEmail != null">
        #{adminEmail,jdbcType=VARCHAR},
      </if>
      <if test="loginTime != null">
        #{loginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="loginIp != null">
        #{loginIp,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>